@charset "UTF-8";

/*

Style   : MobApp CSS
Version : 1.0
Author  : Surjith S M
URI     : https://surjithctly.in/

Copyright © All rights Reserved 

*/


/*------------------------
[TABLE OF CONTENTS]

1. GLOBAL STYLES
2. NAVBAR
3. HERO
4. TABS
5. TESTIMONIALS
6. IMAGE GALLERY
7. PRICING
8. CALL TO ACTION
9. FOOTER

------------------------*/


/* GLOBAL
----------------------*/
body {
    font-family: roboto;
    overflow-x: hidden;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'gold';
    src: url('../fonts/GoldenEarth.ttf') format('truetype');
}


a {
    color: #1a196a;
}

a:hover,
a:focus {
    color: #00acee;
    transition: all .3s;
    text-decoration: none;
}

h1 {
    font-size: 60px;
    font-weight: 300;
    letter-spacing: -1px;
    margin-bottom: 1.5rem;
}

h2 {
    font-size: 45px;
    font-weight: 300;
    color: #1a196a;

}

h3 {
    color: #1a196a;
    font-size: 33px;
    font-weight: 500;
}

h4 {
    font-size: 20px;
    font-weight: 500;
    color: #666;
}

h5 {
    font-size: 28px;
    font-weight: 300;
    color: #633991;
    margin-bottom: 0.7rem;
}

p {
    color: #959094;

}
@media(min-width: 1200px) {
    .container {
        max-width: 1170px !important;
    }
}


/*Search_menu*/

.search-icon {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    outline: none;
    padding: 5px;
    background: transparent;
    border: none;
    cursor: pointer;
}
.search-toggle .search-icon.icon-close {
    display: none;
}
.search-toggle.opened .search-icon.icon-search {
    display: none;
}
.search-toggle.opened .search-icon.icon-close {
    display: block;
}

.search-form {
    position: relative;
}
.search-container {
    position: absolute;
    top: 45px;
    transition: all 0.3s;
    max-height: 0;
    overflow: hidden;
    right: 0;
}  
.search-container form {
    display: flex;
    align-items: center;
    border: 2px solid #eae0ce;
    border-radius: 4px;
}
.search-container form  input {
    color: #00acee;

}
.search-container.opened {
    max-height: 100px;
    transition: all .3s;
    z-index: 1;
}
.search-container input[type="text"] {
    outline: none;
    width: 525px;
    border: 0;
    padding: 5px 20px;
}
.search-container .search-icon {
    vertical-align: middle;
    background: #00acee;
    padding: 9px;
}


.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
    display: block;
}
.lead {
    color: #e38cb7;
    margin-bottom: 2rem;
}

.text-primary {
    color: #e38cb7 !important;
}

.light-font {
    font-weight: 300;
}

.btn {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 0.375rem 1.35rem;
    transition: all 0.3s ease;
}

.btn-outline-light:hover {
    color: #d6619c;
}

.btn-primary {
    border-radius: 3px;
    background-image: linear-gradient( 122deg, #e54595 0%, #fd378e 100%);
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.2);
    font-weight: 500;
    padding: 0.6rem 2rem;
    border: 0;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:not([disabled]):not(.disabled).active,
.btn-primary:not([disabled]):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    background-image: linear-gradient( 122deg, #fd378e 0%, #e54595 100%);
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.3);
    color: #FFF;
}

.btn-light {
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.26);
    font-size: 14px;
    font-weight: 500;
    color: #633991;
    margin: 0.5rem;
    padding: 0.7rem 1.6rem;
    line-height: 1.8;
}

.btn-group-lg>.btn,
.btn-lg {
    padding: 0.8rem 1rem;
    font-size: 15px;
}

/* .light-bg {
background-color: #faf6fb;
} */

.section {
    padding: 60px 0;
}
.section .about .dot {
    width: 8px;
    height: 8px;
    background: #00acee;
    display: block;
    border-radius: 50%;
    margin-left: 10px;
}
.section .about .title {
    display: flex;
    align-items: baseline;
    text-transform: capitalize;
    font-size: 24px;
    margin-bottom: 30px;
    padding-top: 18px;
    position: relative;
    padding-left: 40px;
}
.section .about .title::before {
    position: absolute;
    content: '';
    width: 30px;
    height: 2px;
    background: #00acee;
    left: 0;
    bottom: 12px;
}
.section .about span {
    color: #00acee;
    font-weight: bold;
    font-style: italic;
}
.section .about a {
    color: #00acee;
    padding: 10px 40px;
    border: 2px solid #00acee;
    border-radius: 40px;
    text-transform: capitalize;
    font-weight: bold;
}
.section .about a:hover {
   background-color: rgba(1, 177, 224, 0.8);
   transition: all .5s;
   color: #fff;
}
.section .about a:hover {
    text-decoration: none;
}
.section-title {
    text-align: center;
    margin-bottom: 3rem;
}

.section-title h2,h3 {
    text-transform: uppercase;
    font-size: 35px;
    font-weight: bold;
    font-family: gold;
}

.section-title small {
    color: #998a9b;
}

@media (max-width:767px) {
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 30px;
    }
}


/* NAVBAR
----------------------*/

.nav-menu {
    padding: 1rem 0;
    transition: all 0.3s ease;

}

.nav-menu.is-scrolling,
.nav-menu.menu-is-open {
/* background-color: rgb(74, 13, 143);

background: linear-gradient(to right,rgba(0, 53, 102, 1), rgba(0, 111, 229, 1)); */
/*background: #1a196a;*/
background-color: rgba(1, 177, 224, 0.8);
box-shadow: 0px 5px 20px 0px rgba(0, 0,0,.9);
}

.nav-menu.is-scrolling {
    padding: 0;
}

.navbar-nav .nav-link {
    position: relative;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
/*    padding-right: 1rem;
padding-left: 1rem; */
font-size: 14px;
padding: 10px 15px;
}
.navbar-nav>.nav-item>.nav-link.active::after {
    content: "";
    border-bottom: 2px solid #fcb132;
    left: 1rem;
    right: 1rem;
    bottom: 5px;
    height: 1px;
    position: absolute;
    transition: all .3s;
}
}

@media (max-width:991px) {
    .navbar-nav.is-scrolling {
        padding-bottom: 1rem;
    }
    .navbar-nav .nav-item {
        text-align: center;
    }
}


/* HERO
----------------------*/

header {

    text-align: center;
    color: #FFF;
}

.bg-gradient {
 background: #eee;
 background-size: cover;

}

.tagline {
    font-size: 23px;
    font-weight: 300;
    color: #ffb8f6;
    max-width: 800px;
    margin: 0 auto;
}

.img-holder {
    height: 0;
    padding-bottom: 33%;
    overflow: hidden;

}

@media (max-width:1200px) {
    .img-holder {
        padding-bottom: 50%;
    }
}

@media (max-width:767px) {
    .tagline {
        font-size: 17px;
    }
    .img-holder {
        padding-bottom: 100%;
    }
}


/* FEATURES
----------------------*/

.gradient-fill:before {
    color: #fc73b4;
    background: -moz-linear-gradient(top, #9477b4 0%, #fc73b4 100%);
    background: -webkit-linear-gradient(top, #9477b4 0%, #fc73b4 100%);
    background: linear-gradient(to bottom, #9477b4 0%, #fc73b4 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card.features {
    border: 0;
    border-radius: 3px;
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.04);
    transition: all 0.3s ease;
}

@media (max-width:991px) {
    .card.features {
        margin-bottom: 2rem;
    }
    [class^="col-"]:last-child .card.features {
        margin-bottom: 0;
    }
}

.card.features:before {
    content: "";
    position: absolute;
    width: 3px;
    color: #fc73b4;
    background: -moz-linear-gradient(top, #9477b4 0%, #fc73b4 100%);
    background: -webkit-linear-gradient(top, #9477b4 0%, #fc73b4 100%);
    background: linear-gradient(to bottom, #9477b4 0%, #fc73b4 100%);
    top: 0;
    bottom: 0;
    left: 0;
}

.card-text {
    font-size: 14px;
}

.card.features:hover {
    transform: translateY(-3px);
    -moz-box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.08);
}

.box-icon {
    box-shadow: 0px 0px 43px 0px rgba(0, 0, 0, 0.14);
    padding: 10px;
    width: 70px;
    border-radius: 3px;
    margin-bottom: 1.5rem;
    background-color: #FFF;
}

.circle-icon {
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.07);
    padding: 10px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 1.5rem;
    background-color: #FFF;
    color: #f5378e;
    font-size: 48px;
    text-align: center;
    line-height: 80px;
    font-weight: 300;
    transition: all 0.3s ease;
}

@media (max-width:992px) {
    .circle-icon {
        width: 70px;
        height: 70px;
        font-size: 28px;
        line-height: 50px;
    }
}

.ui-steps li:hover .circle-icon {
    background-image: -moz-linear-gradient( 122deg, #e6388e 0%, #fb378e 100%);
    background-image: -webkit-linear-gradient( 122deg, #e6388e 0%, #fb378e 100%);
    background-image: -ms-linear-gradient( 122deg, #e6388e 0%, #fb378e 100%);
    background-image: linear-gradient( 122deg, #e6388e 0%, #fb378e 100%);
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.09);
    color: #FFF;
}

.ui-steps li {
    padding: 15px 0;
}

.ui-steps li:not(:last-child) {
    border-bottom: 1px solid #f8e3f0;
}

.perspective-phone {
    position: relative;
    z-index: -1;
}

@media (min-width:992px) {
    .perspective-phone {
        margin-top: -150px;
    }
}


/*  TABS
----------------------*/

.tab-content {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: #FFF;
    box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, .7);
    padding: 3rem;
}

@media (max-width:992px) {
    .tab-content {
        padding: 1.5rem;
    }
}

.tab-content p {
    line-height: 1.8;
}

.tab-content h2 {
    margin-bottom: 0.5rem;
}

.nav-tabs {
    border-bottom: 0;
    box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, .7);
}

.nav-tabs .nav-item .nav-link,
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    border-color: #faf6fb #faf6fb #FFF;
    font-size: 19px;
    color: #fff;
    background-color: rgba(1, 177, 224, 0.8);
}

.nav-tabs .nav-link.active {
    background: #FFF;
    border-top-width: 3px;
    color: #633991;
    border-top: 3px solid #00acee;
}


/*  TESTIMONIALS
----------------------*/

.owl-carousel .owl-item img.client-img {
    width: 110px;
    margin: 30px auto;
    border-radius: 50%;
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.07);
}

.testimonials-single {
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
}

.blockquote {
    color: #7a767a;
    font-weight: 300;
}

.owl-next.disabled,
.owl-prev.disabled {
    opacity: 0.5;
}

.owl-prev,
.owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.owl-prev {
    left: 0;
}

.owl-next {
    right: 0;
}

.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 60px;
}

.owl-theme .owl-dots .owl-dot span {
    background: #fff;
    width: 35px;
    height: 8px;
    border-radius: 10px;
    transition: all 0.3s ease-in;
}

.owl-theme .owl-dots .owl-dot:hover span {
    background: #00acee;
}

.owl-theme .owl-dots .owl-dot.active span {
    background: #00acee;
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.07);
}


/*  IMAGE GALLERY
----------------------*/

.img-gallery .owl-item {
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.07);
    transform: scale(0.8);
    transition: all 0.3s ease-in;
}

.img-gallery .owl-item.center {
    transform: scale(1);
}


/*  PRICING
----------------------*/

@media (max-width:992px) {
    .card-deck {
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .card-deck .card {
        margin-bottom: 15px;
    }
}

.card.pricing {
    border: 1px solid #f1eef1;
}

.card.pricing.popular {
    border-top-width: 3px;
    border-color: #ce75b4 #faf6fb #FFF;
    box-shadow: 0px 12px 59px 0px rgba(36, 7, 31, 0.11);
    color: #633991;
}

.card.pricing .card-head {
    text-align: center;
    padding: 40px 0 20px;
}

.card.pricing .card-head .price {
    display: block;
    font-size: 45px;
    font-weight: 300;
    color: #633991;
}

.card.pricing .card-head .price sub {
    bottom: 0;
    font-size: 55%;
}

.card.pricing .list-group-item {
    border: 0;
    text-align: center;
    color: #959094;
    padding: 1.05rem 1.25rem;
}

.card.pricing .list-group-item del {
    color: #d9d3d8;
}

.card.pricing .card-body {
    padding: 1.75rem;
}


/*  CALL TO ACTION
----------------------*/

.call-to-action {
    text-align: center;
    color: #FFF;
    margin: 3rem 0;
}

.call-to-action .box-icon {
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    transform: scale(0.85);
    margin-bottom: 2.5rem;
}

.call-to-action h2 {
    color: #FFF;
}

.call-to-action .tagline {
    font-size: 16px;
    font-weight: 300;
    color: #ffb8f6;
    max-width: 650px;
    margin: 0 auto;
}

.btn-light img {
    margin-right: 0.4rem;
    vertical-align: text-bottom;
}


/*  FOOTER
----------------------*/

.social-icons {
    text-align: right;
}

.social-icons a {
    background-color: #FFF;
    box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.05);
    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    margin: 0 0.3rem;
    border-radius: 5px;
    color: #f4c9e2;
    transition: all 0.3s ease;
}

.social-icons a:hover {
    text-decoration: none;
    color: #e38cb7;
}

@media (max-width:991px) {
    .social-icons {
        text-align: center;
        margin-top: 2rem;
    }
}


/* LANGUAGE_HD */

.dropbtn {
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropbtn img {
    width: 20px;
    margin-right: 5px;
}

.dropbtn:hover, .dropbtn{
    background-color: transparent;
    box-shadow: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    overflow: auto;
    z-index: 1;
    border-bottom: 2px solid #00acee;
    border-radius: 4px;
}
.dropdown-content .bt {
    border-bottom: 1px solid #999;
}

.dropdown-content a {
    color: black;
    padding: 7px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background: #00acee;
    color: #fff;
    transition: all .4s;
}
.dropdown-content img {
    width: 20px;
    margin-right: 5px;
}
button:focus {
    outline: none;
}

.show {display: block;}



















/* ul li{
color: #fff;
float: left;
width: 133px;
line-height: 50px;
text-align: center;
cursor: pointer;
font-weight: 900;
text-transform: uppercase;
font-family: Arial;
transition: 0.5s;
position: relative;
} */

/* ul li:nth-child(3){
background: #D80B15;
}

ul li:hover:not(.active){
background: #D80B15;
} */



/* Media Queries */
/*@media screen and (max-width: 700px) {
ul{
width: 200px;
}

ul li{
width: 100px;
}

ul li.active{
text-align: right;
}

ul li.mob{
display: none;
}*/
/*.search-box{
width: 270px;
right: -16%;
}
.search-box input[type="text"]{
width: 140px;
margin-left: 15px;
}
.search-box input[type="button"] {
margin-right: 12px;
}
}*/

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.8);
}



/* Slide-banner
*/
.title-banner {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.title-banner p {
    font-size: 28px;
    text-transform: uppercase;
    color: #fff;
    font-family: gold;
}
.title-banner h2 {
    color: #fff;
    font-size: 100px;
    font-family: gold;
    font-weight: bold;
}
.title-banner span {
    color: #00acee;
    font-style: italic;
    position: relative;
    text-shadow:28px 35px 16px #eae7df;
}
.title-banner span:after{
    position: absolute;
    content: '';
    width: 15px;
    height: 15px;
    background: #00acee;
    border-radius: 50%;
    bottom: 20px;
    right: -30px;
}
.slide-banner > .owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
    display: block !important;
}
.slide-banner {
    position: relative;
}
.btn-bn {
    position: absolute;
    bottom: 150px;
    left: 0;
    width: 100%;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;

}
.btn-bn .a1{
    position: relative;
    padding: 15px 55px;
    color: #fff;
    font-weight: bold;
}
.btn-bn .a1::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: url(../images/login.png);
    z-index: -1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
}

.btn-bn .a1:hover {
    text-decoration: none;
    color: inherit;
    box-shadow: 0 0 20px #ffde00;
    transition: all .3s;
}
.slide-banner .slide-prev,.slide-next {
    position: absolute;
    top: 43%;
    font-size: 30px;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: rgba(0, 0, 0, .6);
    border: 2px solid #00acee;
    box-shadow: 0 0 20px #00acee;

}
.slide-banner .slide-prev:hover,.slide-next:hover {
    background: #00acee;

    transition: all .4s;
}

.slide-banner .img-bn {
    height: 100vh;
    object-fit: cover;
}
.slide-banner .owl-dots { 
    position: absolute;
    width: 100%;
    bottom: 30px;
    text-align: center;
}
.slide-banner .owl-dots .owl-dot{
    display: inline-block;
    padding:6px;
}
.slide-banner .owl-dots .owl-dot span{
    margin: 1px 8px;
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #fff;
    transform: rotate(45deg);
}
.slide-banner .owl-dots .owl-dot.active{
    border: 2px solid #00acee;
    border-radius: 50%;
    transition: all .5s;
    box-shadow: 0 0 20px #00acee;

}
.slide-banner .owl-dots .owl-dot.active span{
    border: none;
    color: #fff;
}

.slide-banner .slide-prev {
    left: 0;
    transition: all .5s;
}
.slide-banner .slide-next {
    right: 0;
    transition: all .5s;
}
.slide-banner:hover .slide-prev {
    left: 30px;
    transition: all .6s;
}
.slide-banner:hover .slide-next {
    right: 30px;
    transition: all .6s;
}



/* About-us
*/
.bt-admin {
    margin-top: 30px;
}
@media(max-width: 1199px){
    .bt-admin {
    margin-bottom: 30px;
}
}
.bt-admin a {
    border: 2px solid #00acee;
    padding: 10px 30px;
    border-radius: 40px;
    text-transform: capitalize;
    font-family: gold;
    color: #00acee;
}
.bt-admin a:hover {
    background: #00acee;
    color: #fff;
    transition: all .3s;
}
#features {
    position: relative;

}
#features::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: 
    top: 0;
    left: 0;
}

.img-ab {
    position: relative;
}
.img-ab .date {
    background: #fcb132;
    position: absolute;
    top: 0;
    left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    padding: 8px;
    line-height: 18px;
    top: 20px;
}
.paragrab {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
}
.paragrab h4 {
    padding-left: 50px;
    text-transform: uppercase;
}
.paragrab h4 a {
    color: #fff;
}
.paragrab .news-event-ab {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}
.news-event-ab span {
    margin-right: 10px;
}
.img-ab .date span {
    font-size: 14px;
    font-weight: 100;

}
/* .img-ab  .news-event-ab {
display: flex;
align-items: center;
justify-content: space-around;
} */
.img-ab  .news-event-ab a {
    color: #fff;
}
.img-ab::before {
    position: absolute;
    content: '';
    top: -30px;
    left: -30px;
    /* border: 2px solid #00acee; */
    height: 100%;
    width: 85%;
    /*border-radius: 10px;*/
    background-color: rgba(1, 177, 224, 0.8);
}
.img-ab img {
    position: relative;
    border-top: 20px solid #eee;
    border-left: 20px solid #eee;
}
.about p {
    margin-bottom: 40px;
}

.menu-ab {
    background-color: rgba(1, 177, 224, 0.8);
    box-shadow: 0px 5px 20px 0px rgba(0, 0,0,.9);
    padding: 0;
    position: inherit;
}
.page-title {
    background: url('../images/title-bg.jpg') no-repeat center;
    margin-bottom: 50px;
    background-size: cover;
}
.overlay {
    text-align: center;
    background: rgba(0,0,0,.5);
    padding: 55px 0;
}
.overlay h2 {
    color: #fff;
    font-size: 45px;
    text-transform: uppercase;
    font-family: gold;

}
.about-title h3 {
    font-size: 20px;
    font-weight: 100;
    color: #3e3f3f;
}
.about-title h2 {
    font-family: gold;
    font-weight: bold;
}

.about-title span {
    color: #00acee;
    font-style: italic;
}
blockquote {
    padding: 20px;
    background: #eee;
    border-left: 5px solid #00acee;
}
blockquote p {
    color: #666;
    font-style: italic;
}
.st-title {
    position: relative;
    display: inline-block;
    font-size: 25px;
    padding-left: 40px;
}
.st-title::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 2px;
    background: #00acee;
    top: 16px;
    left: 0;
}
.st-title::after {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    background: #00acee;
    top: 16px;
    right: -18px;
    border-radius: 50%;
}
.about-title {
    margin-bottom: 30px;
}

/* service */



#video-msb {
    background: rgba(229,177,18,.1);
    position: relative;
}
#video-msb::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 100%;
    background: #fff;
    top: 0;
    left: 200px;
}
.title-faq {
    font-style: italic;
    color: #666;
}
.items h4 {
    font-size: 28px;
    position: relative;
    padding-left: 40px;
    display: inline-block;
}
.items h4::before {
    position: absolute;
    content: '';
    width: 30px;
    height: 2px;
    background: #00acee;
    left: 0;
    bottom: 12px;
}
.items h4::after {
    content: '';
    position: absolute;
    right: -15px;
    bottom: 5px;
    width: 8px;
    height: 8px;
    background: #00acee;
    border-radius: 50%;
}
.img-service {
    position: relative;
}
.img-service::before {
    content: '';
    position: absolute;
    bottom: -40px;
    right: -30px;
    width: 95%;
    height: 95%;
    border: 2px solid #00acee;
}
.img-service img {
    position: relative;
    border-right: 20px solid rgb(1, 177, 224);
    border-bottom: 20px solid rgb(1, 177, 224);
}
.list-service span {
    font-size: 65px;
    color: #2b2b2c2e;
    margin-right: 20px;
}
.list-service a:hover{
    text-decoration: none;
}
.list-service  {
    display: flex;
}
.contents-ser {
    font-style: italic;
}
.faq-page {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    background: #eee;
}
.employer a {
    padding: 10px 20px;
    background: #fcb132;
    color: #fff;
}
.employer .app{
    background-color: rgba(1, 177, 224, 0.8);
}
.employer a:hover {
    text-decoration: none;
}


/* News */

.contents {
    border: 1px solid #eee;
    padding: 15px;
    margin-bottom: 30px;
}
.img-gallery.owl-carousel {
    position: inherit;
}
.img-gallery.owl-carousel  .owl-nav [class*=owl-] {
    color: #FFF;
    font-size: 14px;
    margin: 5px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #D6D6D6;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid #00acee;
    background: transparent;
    color: #00acee;
}
.slider-news {
    padding-bottom: 100px;
    position: relative;
}
.img-gallery.owl-carousel .owl-dots {
    /* margin-top: 60px; */
    position: absolute;
    bottom: -140px;
    left: 0;
    width: 100%;
}
.slider-news .readmore {
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 100%;
}
.img-gallery .item {
    position: relative;
    border: 2px solid #eee;
    border-radius: 6px;
}
.img-gallery .item:hover {
    box-shadow: 0px 3px 24px 0px rgba(0, 0, 0, 0.1);
    transition: all .4s;
   /* border-image: linear-gradient(to right, #c26af5, #57eeff);
   border-image-slice: 1;*/

   border: 2px solid #fff;
}
.img-gallery .item {
    position: relative;
}
.link{
    position: absolute;
    content: '';
    height: 0;
    width: 100%;
    background: rgba(0,0,0,.7);
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: .4s;
    /*background: linear-gradient(122deg, #de8a0c, #f1d9c2);*/
}
.img-gallery .item:hover .link {
    visibility: visible;
    opacity: 1;
    transition: all .4s;
    height: 100%;
}
.link a {
    color: #fff;
    font-size: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: gold;
    text-transform: uppercase;
}

.acc .date {
    display: flex;
    flex-direction: column;
    line-height: 18px;
    align-items: center;
    margin-right: 20px;
    background:#f8990a;
    padding: 5px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}
.acc .date span {
    font-weight: 100;
    font-size: 14px;
}
.img-gallery .item .date {
    position: absolute;
    top: 0;
    left: 0;
    background: #f8990a;
    text-align: center;
    padding: 8px;
    line-height: 18px;
    color: #fff;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: bold;

}

.img-gallery .item .date span {
    font-size: 14px;
    font-weight: 100;
}
.img-gallery .item .contents-home {
    padding: 15px;
    background: #fff;
}
.img-gallery .item .contents .content-1 {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.content-1 a{
    margin-right: 15px;
    color: #999;
    font-size: 14px;
}
.contents-home h4 > a {
    color: #666;
    font-family: gold;
    font-size: 24px;
}
#gallery {
    background: rgba(229,177,18,.1);
    padding-bottom: 100px;
}
.content-1 .fa.fa-pencil-square-o,
.fa.fa-calendar,
.fa.fa-comments {
    margin-right: 5px;
}
.readmore {
    text-align: center
}
.readmore a {
    color: #00acee;
    padding: 10px 57px;
    border: 2px solid #00acee;
    border-radius: 40px;
}
.news-other {
    display: flex;
    align-items: end;

}
.bottom {
    margin-bottom: 20px;
    border-bottom: 1px solid #eee; 
}
.news-right {
    padding: 15px;
    border: 1px solid #eee;
    margin-bottom: 50px;
}
.news-sidebar {
    flex: 0 0 100px;
    margin-right: 15px;
}
.title-news-2 h4 {
    font-size: 16px;
}
.title-news {
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
    font-size: 25px;
    margin-bottom: 20px;
    text-align: center;
}
.form-news {
    padding: 45px !important;
    box-shadow: inherit !important;
    border: 1px solid #eee;
}
.form-news h4 {
    font-size: 25px;
    margin-bottom: 20px;
}
.title-news-top {
    margin-bottom: 20px;

}
.tt-rec {
    border-bottom: 1px solid #eee;
    padding-bottom: 15px; 
}
.news-left .item {
    position: relative;
}
.news-left .date {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f8990a;
    color: #fff;
    padding: 2px;
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;
}
.date span {
    font-weight: 100;
    font-size: 14px;
}
.time-news span {
    border-left: 1px solid #ea5006;
    padding-left: 6px;
    margin-left: 6px;
    color: #555;
}
.time-news {
    color: #ea5006; 
}

.ing-news-dt h4 {
    font-size: 35px;
    font-family: gold;
}
.ing-news-dt img {
    padding: 30px 0;

}
.content-news li {
    padding-bottom: 20px;
}




.accordion-news li {
    border-bottom: 1px solid #d9e5e8;
    position: relative;
    list-style: circle;
}
.accordion-news li p {
    display: none;
    color: #555;
    font-size: 14px;
}
.accordion-news a {
    width: 100%;
    display: block;
    cursor: pointer;
    font-weight: 600;
    line-height: 3;

    font-size: 0.875rem;
    text-indent: 15px;
    user-select: none;
    font-size: 16px;
}
.accordion-news a:after {
    width: 8px;
    height: 8px;
    border-right: 1px solid #4a6e78;
    border-bottom: 1px solid #4a6e78;
    position: absolute;
    right: 10px;
    content: " ";
    top: 17px;
    transform: rotate(-45deg);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.accordion-news p {
    font-size: 13px;
    font-size: 0.8125rem;
    line-height: 2;
}

.accordion-news a.active:after {
    transform: rotate(45deg);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}


/* Contact */

.phone {
    display: flex;
    flex-direction: column;
}
.form-group input {
    border: none;
    border-bottom: 1px solid #eee;
    border-radius: 0;
    box-shadow: none !important;
    padding-bottom: 5px;
    margin-bottom: 40px;
    padding-left: 0;
}
.form-group textarea {
    box-shadow: none !important;
    border: none;
    border-bottom: 1px solid #eee;
    padding:0;
    padding-top: 15px;
    margin-bottom: 50px;
    border-radius: 0;

}
.form-group {
    margin-bottom: 1rem;
    padding:  50px 100px;
    background: #fff;
    box-shadow: 0 0 10px #999;
    height: 100%;
}
input.btn.btn-lg {
    background: #fff;
    border: 2px solid #00acee;
    padding: 10px 65px;
    border-radius: 40px;
    color: #00acee;
    cursor: pointer
}
.btn.btn-lg:hover {
    background: rgba(1, 177, 224, 0.8);
    transition: all .4s;
    color: #fff;
}
.form-group { 
    margin: 0;
}
.ct-left {
    padding: 50px 100px;
    background: #fff;
    box-shadow: 0 0 10px #999;
    height: 100%;
}
.address-ct img {
    margin-bottom: 45px;
}
.address-ct h4 > span {
    margin-right: 15px;
    font-size: 25px;
}
.phone span,
.email span,
.time span {
    margin-right: 15px;
    font-size: 20px;
}
.phone a,
.email a,
.time a {
    font-size: 20px;
    margin-bottom: 20px;
    color: #797979;
}
.address-ct h4 {
    display: flex;
    margin-bottom: 20px;
    color: #797979;
}
.time {
    margin-top: 20px;
}
.time p {
    margin-top: 1.5rem;
}

.flex-icons {
    display: flex;
    align-items: center;
    padding-left: 0;
}
.flex-icons a:hover {
    color: rgba(1, 177, 224, 0.8);
}
.flex-icons  li {
    list-style: none;
}
.ft {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text-center a {
    font-size: 16px;
}
.flex-icons a {
    color: #999;
}
.flex-icons  .right {
    font-size: 18px;
    margin-right: 33px;
    border-right: 1px solid #999;
    padding-right: 40px;
}

/*.flex-icons  .right {
    font-size: 18px;

}
.right span {
    width: 35px;
    height: 35px;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border-top-right-radius: 0;
    margin-right: 30px;
}

*/
.read-v2 {
    margin-top: 45px;
}








.accordion {
    max-height: 330px;
    overflow: hidden;
}
.inner-ct p {
    text-align: left;
    color: #a9a4a4;
}
.title-left-acc {
    position: relative;
    margin-bottom: 33px;
    color: #fff;
    padding-left: 50px;
}
.title-left-acc::before {
    content: '';
    position: absolute;
    left: 0;
    top: 12px;
    width: 30px;
    height: 2px;
    background: #00acee;
}
.title-left-acc::after {
    content: '';
    position: absolute;
    right: 40px;
    top: 12px;
    width: 8px;
    height: 8px;
    background: #00acee;
    border-radius: 50%;
}

/*.title-left-acc .dot {
   width: 8px;
    height: 8px;
    background: #00acee;
    border-radius: 50%;
    display: inherit;
    position: absolute;
    right: 0;
    margin-right: 60px;
    bottom: 2px;
    }*/

    .acc input {
        display: none;
    }
    input:checked { 
        border: solid 1px rgba(0,0,0,.15);
    }
    label { 
       background-color: rgba(1, 177, 224, 0.8);
       cursor: pointer; 
       display: block; 
       line-height: 40px; 
       margin-bottom: 0;
       color: #fff;
       display: flex;
       align-items: center;
   }
   article { 
    height: 0; 
    overflow: hidden; 
    transition: height .3s linear, opacity .15s linear; 
    position: relative; 
    margin-bottom: 20px;
    border: 1px solid #eee;
    color: #333;
    font-size: 13px;
    line-height: 18px;
    opacity: 0;
}
article p {
    padding: 15px;
}
div > input:checked ~ article {
    height: 145px;
    opacity: 1; 
}


/*Recruitment*/

@media (min-width: 1024px) {
    .items-rec img {
        height: 170px ;
    }
}
.items-rec img {
    height: 170px;
    object-fit: cover;
}
@media (max-width: 1024px) and (min-width: 768px){
    .flex-fix {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

/*Recruitment_Detail*/
.content-rec-dt {
    font-size: 20px;
    color: #555;
}
.work-recdt {
    padding-top: 30px;
}
.work-recdt h4 {
    color: #333;
    font-weight: bold;
}
.work-recdt li {
    list-style: circle;
}
.items-rec {
    border: 1px solid #eee;
    margin-bottom: 30px;
}
.ct-rec {
    padding: 15px;
}

/*slide-logos
*/

.slide-logos {
    padding: 30px 0;
}
.slide-logo-ft .item .fillter {
    width: auto !important;
    margin: 0 auto;
}
.slide-logo-ft .owl-nav.disabled {
    display: none !important;
}
.fillter-2 {
    width: 80px !important;
    object-fit: cover;
    margin: 0 auto;
}
.slide-logo-ft .item img {
    filter: grayscale(100%);
}
.slide-logo-ft .item:hover img {
    filter: inherit;
    transition: all .5s; 
}

.slide-logo-ft > .owl-stage-outer >.owl-stage {
    display: flex;
    align-items: center;
}



@media(max-width: 1199px) and (min-width: 992px){
    .navbar {
        display: inherit;
        text-align: center;
        padding: 0;
    }
    .ml-auto {
        margin-left: 0;
        margin: 0 auto;
    }
    .nav-menu {
        padding: 0;
    }
    .navbar-brand {
        margin: 0;
        padding: 0;
    }
    .dropdown-content {
        text-align: left !important;
    }

    .items h4 {
        font-size: 22px;
    }
    .faq-page {
        flex-direction: column;
    }
    .title-faq {
        margin-bottom: 10px;
    }
    .paragrab h4 {
        padding-left: 24px;
    }
    .nav-tabs .nav-item .nav-link {
        font-size: 14px;
    }
    .tab-content h2 {
        font-size: 30px;
    }
    .img-gallery .item .contents .content-1 {
        flex-direction: column;
        align-items: baseline;
    }
    .title-left-acc {
        font-size: 18px;
    }
    .title-left-acc::after {
        right: 0;
    }
    .ct-left {
        padding: 25px;
    }
    .form-group {
        padding: 50px;
    }

    /*.news-sidebar*/

    .news-sidebar {
        flex: 0 0 90px;
        margin-right: 5px;
    }
    .content-news li {
        padding-bottom: 15px;
    }
    .content-1 {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }
    .title-left-acc {
        padding-left: 35px;
    }
}

@media(max-width: 991px){
    .ct-left {
        padding: 25px;
    }
    .form-group {
        padding: 40px;
    }
    .acc .date {
        margin-right: 5px;
    }
    .accordion {
        max-height: inherit;
    }
    .acc label {
        font-size: 13px;
    }
    .title-left-acc {
        margin-bottom: 15px;
    }
    .read-v2 {
        margin-top: 25px;
    }
    .nav-tabs .nav-item .nav-link {
        font-size: 14px;
        padding: 5px;
    }
    .d-flex.flex-column.flex-lg-row img {
        width: 100%;
    }
    .faq-page {
        flex-direction: column;
    }
    .title-faq {
        margin-bottom: 10px;
    }
    .items h4 {
        font-size: 20px;
    }
    .paragrab h4 {
        padding-left: 25px;
        font-size: 14px;
    }
    .paragrab .news-event-ab {
        padding: 0;
    }
    .section .about .title  {
        padding-top: 0;
        margin: 0;
    }
    .about p {
        margin-bottom: 25px;
    }
    .title-banner h2 {
        font-size: 55px;
    }
    .title-banner p {
        font-size: 18px;
    }
    .tab-content h2 {
        font-size: 30px;
    }
    .lang {
        text-align: center;
    }
    #myDropdown {
        text-align: left;
    }
    .home.search-form {
        display: flex;
        justify-content: center;
    }
    .search-container.opened {
        z-index: 1;
    }
    .search-container {
        top: 65px;
    }
    .search-container,.search-container input[type="text"]  {
        width: 100%;
    }
    .title-left-acc::after {
        display: none;
    }
    .items h4::after {
        display: none;
    }
    .section .about .dot {
        display: none;
    }
    .col-news-dt {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .bottom {
        padding-bottom: 20px;
    }
    .title-news-top {
        margin-bottom: 0;
    }
    #video-msb::before {
        left: 125px;
    }

}

@media (max-width: 767px){
    .img-ab {
        margin-bottom: 30px;
    }
    .faq-page {
        margin-bottom: 30px;
    }
    .accordion {
        padding-top: 30px;
    }
    .acc label {
        font-size: 18px;
    }
    .ct-left {
        padding: 55px;
    }
    #formid {
        margin-top: 30px;
    }
    .img-service img {
        border: none;
    }
    .ft {
        flex-direction: column;
    }
    .title-left-acc::after {
        right: 10px;
        top: 10px; 
    }
    ul.nav.nav-tabs {
        display: flex;
        flex-direction: column;
        padding: 0 25px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }
    .accordion-news a {
        font-size: 14px;
    }
    #video-msb::before {
        display: none;
    }
}


@media(max-width: 568px){
    .img-service::before {
        right: 0;
        width: 75%;
        height: 100%;
    }
}
@media(max-width: 480px){
    .title-left-acc::after ,.items h4::after,.section .about .dot{
        display: none;
    }
    .acc label {
        font-size: 14px;
    }
}
@media(max-width: 375px){
    .title-banner h2 {
        font-size: 35px;
    }
    .title-banner p {
        font-size: 15px;
    }
    .employer {
        display: flex;
        flex-direction: column;
    }
    .faq-page {
        text-align: center;
    }
    .acc label {
        font-size: 14px;
    }
    .ct-left,.form-group  {
        padding: 25px;
    }
}


/*Canvas-bgr*/

#tienich-msb #canvas {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: .2;
}
#tienich-msb {
    padding: 80px 0;
    position: relative;
}



/*Scroll-back toTop*/

.scroll_top {
    display: inline-block;
    bottom: 65px;
    position: fixed;
    right: 50px;
    text-align: center;
    color: #bebebe;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
.scroll_top img {
    border-radius: 50%;
}

@media(max-width: 1199px) and (min-width: 768px) {
    .scroll_top {
        right: 70px;
    }
}
@media(max-width: 568px){
    .scroll_top {
        right: 35px;
    }
}




.hvr-radial-out {
    background: transparent;
    transition: all .5s;
}
.hvr-radial-out:before {
   background-color: rgba(1, 177, 224, 0.8);
   transition: all .5s;
}
.outer {
  width: 100%;
  height: 100%;
  display: table;
  background: url(../images/section-bg-a.jpg)
  center no-repeat;
  background-size: cover;
  transform: scale(1);
}
.outer-adm {
    background: url(../images/bgr-2.jpg)
    center no-repeat;
}

h3.title-home {
    color: #fff;
}
.inner {
  /*display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: white;*/
  position: relative;
}

.overlay-home {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0,.8);
  position: absolute;
}



















#main {
  height: 100vh;
  width: 100%;
  background: url(../images/bn7.jpg) no-repeat center;
  background-size: cover;
  overflow: hidden;
}

#slider {
  position: relative;
  width: 400%;
  margin: 0px;
  /*left: 5%;*/
}

.letter {
  text-transform: uppercase;
  width: 25%;
  font-size: 20cm;
  font-family: fantasy;
  line-height: 17.5cm;
  user-select: none;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #FFF;
  top: 60px;
}

@media(max-width: 1366px){
    .letter {
        font-size: 13cm;
        top: -60px;
    }
    div#a {
    padding-top: 75px;
}   
}
@media(max-width: 1199px){
    .letter {
        font-size: 11cm;
    }
}
@media(max-width: 1024px){
    .letter {
        font-size: 8cm;
    }
}
@media(max-width: 991px){
    .letter {
        font-size: 7cm;
        right: 1%;
    }
}
@media(max-width: 768px){
    .letter {
        font-size: 6cm;
    }
}
@media(max-width: 667px){
    .letter {
        right: 3%;
        font-size: 5cm;
    }
}
@media(max-width: 568px){
    .letter {
        font-size: 5cm;
        right: 5%;
    }
}
#p {
    position: relative;
    padding: 130px;
    background:url(../images/bgr6.jpg) no-repeat center;
    background-size: cover;
    background-position: -180px -50px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    float: left;
}
@media(max-width: 1024px){
    #p {
        padding: 65px;
    }
    div#a {
    padding-top: 10px;
}
}
#p:after {
    position: absolute;
    content: '';
    width: 1px;
    height: 75%;
    background: #999;
    left: 40%;
}
@media(max-width: 1024px){
    #p:after {
       display: none;
    }
}


@media(max-width: 768px){
    #p:after {
        left: 41%;
        top: 30%;
        height: 45%;
    }
}
@media(max-width: 667px){
    #p:after {
        width: 0;
    }
}
@media(max-width: 568px){
   #p:after {
    left: 0;
}

}





/*@media(max-width: 1366px){
   #p:after {
    left: 40%;
   } 
   }*/
   #a {
    padding: 200px 130px 0 0 ;
    background-image: url("../images/bgr6.jpg");
    background-size: cover;
    background-position: 1000px -50px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    float: left;

}

#v {
    position: relative;
    padding: 130px;
    background-image: url("../images/bgr6.jpg");
    background-size: cover;
    background-position: -150px -50px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    float: left;
}
@media(max-width: 1024px){
    #v {
        padding: 65px;
    }
}
#v:after {
    position: absolute;
    content: '';
    width: 1px;
    height: 75%;
    background: #999;
    left: 40%;
}
@media(max-width: 1366px){
   #v:after {
    display: none;
} 
}
.content {
  width: 350px;
  font-family: arial;
  font-size: 14px;
  color: #FFF;
  line-height: 35px;
  position: fixed;
  top: 50%;
  /*transform: translate(-50%, -50%);*/
}
@media(max-width: 480px){
    .content {
        top: 40%;
    }
}
.content.proxy {
  right:30%;
}
@media(max-width: 768px){
    .content.proxy {
      right:15%;
  }
}
@media(max-width: 568px){
    .content.proxy {
      right:10%;
  }
}
@media(max-width: 375px){
    .content.proxy {
        right: 0;
        width: 100%;
        padding: 15px;
    }
}
@media(max-width: 360px){
 .content.proxy {
    padding: 4px;
}
}
.content.arty {
  left: 40%;
}
@media(max-width: 1366px){
 .content.arty {
    left: 25%;
} 
}
@media(max-width: 768px){
    .content.arty {
        left: 15%;
    }
}
@media(max-width: 568px){
    .content.arty {
        left: 8%;
    }

}
@media (max-width: 375px){
    .content.arty {
        left: 0;
        width: 100%;
        padding: 15px;
    }
}
@media(max-width: 360px){
 .content.arty {
    padding: 4px;
}
}
@media(max-width: 667px){
    #a,#p,#v {
        display: none;
    }
    
}
.content.vassili {
 right: 25%;
}
@media(max-width: 991px){
   .content.vassili {
     right: 30%;
 } 
}
@media(max-width: 768px){
    .content.vassili {
     right: 20%;
 }
}
@media(max-width: 667px){
   .content.vassili {
     right: 13%;
 }
}
@media (max-width: 375px){
    .content.vassili {
        right: 0;
        width: 100%;
        padding: 15px;
    }
}
@media(max-width: 360px){
    .content.vassili {
        padding: 4px;
    }
}
.title-banner-top {
  margin-top: 5px;
  font-size: 35px;
  font-family: fantasy;
  font-variant: small-caps;
  font-size: 4cm;
  margin-bottom: 60px;
}
@media(max-width: 768px){
  .title-banner-top {
    font-size: 3cm;
}
}
@media(max-width: 568px){
 .title-banner-top {
    font-size: 2cm;
    margin-bottom: 20px;
}
}

.title-banner-top:first-letter {
  color: #FFD700;
  text-transform: uppercase;
}
.title-banner-top span {
    color: #FFD700;
    margin-left: -18px;
}
.info {
  width: 350px;
  margin-top: 5px;
  font-family: arial;
  font-size: 14px;
  line-height: 25px;
  text-align: justify;
  font-family: 'Roboto Condensed', sans-serif;
}

/*.line {
  height: 80%;
  width: 2px;
  position: fixed;
  top: 15%;
  left: 60%;
  background: linear-gradient(#111 0%, #222222 90%);
  }*/

  #navigation {
      position: absolute;
      bottom: 50px;
      left: 50%;
      transform: translateX(-50%);
  }

  #navigation a {
      border: 1px solid #FFF;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      display: inline-block;
      outline: none;
      transition: .3s;
  }
  #navigation a:not(:last-child) {
      margin-right: 10px;
  }

  div#navigation .active {
      background-color: #FFF;
  }

  #arty-main .content,
  #vassili-main .content {
      display: none;
  }



  @media(max-width: 480px){
    #ct1,#ct2,#ct3 {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    .info {
        padding: 0 20px;
        text-align: center;
    }
}


.navbar {
    padding: 0;
}





/*Admin
*/
.title-adm span {
    color: #00acee;
    font-style: italic;
}
.f1 {
    width: 2px;
    height: 100px;
    background: #ccc;
    /* text-align: center; */
    margin: 0 auto;
    margin-bottom: 30px;
}
.tt-adm {
    text-align: center;
    color: #4c4b6c;
    text-transform: uppercase;
    font-size: 30px;
    font-family: cursive;
    margin-bottom: 10px;
}
.ct-adm {
    text-align: center;
    padding: 0 10rem;
    font-size: 18px;
    color: #555;
    font-family: gold;
    font-style: italic;
}
@media(max-width: 1199px){
    .ct-adm {
        padding: 0 2rem;
    }
}
.value ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0;
}
.value li {
    list-style: none;
}
.value li a{
    color: #eee;
}
.value li a {
    font-weight: bold;
    color: #4c4b6c;
    border: 1px solid rgba(1, 177, 224, 0.8);
    box-shadow: 2px 0 10px 4px rgba(1, 177, 224, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 50%;
    text-transform: uppercase;
    font-family: gold;
    width: 100px;
    height: 100px;
}
.ct-adm-v2 {
    margin-bottom: 45px;
}
.q1:before {
    content: '';
    position: absolute;
    width: 2px;
    height: 5cm;
    top: -5cm;
    right: -2cm;
    background: #ccc;
    transform: rotate(45deg);
}
.q1-v2:before {
    transform: rotate(-45deg);
    left: -2cm;
}
.q1:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgba(1, 177, 224, 0.8);
    top: -20px;
    right: 0px;
}
.q1-v2:after {
    left: 0;
}
.q1,.q3 {
    position: relative;
}
.q3:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgba(1, 177, 224, 0.8);
    top: -25px;

}
.admin {
    text-align: center;
    z-index: 11;
    margin-bottom: 1cm;
}
.admin a {
    color: #1a196a;
    border: 2px solid #00acee;
    padding: 10px 40px;
    border-radius: 40px;
    font-family: gold;
    font-size: 18px;
    text-transform: uppercase;
}

.overlay-adm{
    background: transparent;
}
.title-adm {
    color: #4c4b6c !important;
}

.it-left {
    text-align: center;
    border-radius: 50%;
}
.it-left img {
   border-radius: 50%;
   width: 10cm;
   height: 10cm;
}
@media(max-width: 991px){
    .it-left img {
        width: 8cm;
        height: 8cm;
    }
}
.it-right,.it-right-v2 {
    padding: 50px;
    box-shadow: 2px 0 10px 4px rgba(205, 210, 212, 0.8);
    margin-top: 30px;
    position: relative;
    margin-bottom: 60px;
}
@media(max-width: 991px){
    .it-right,.it-right-v2 {
        padding: 15px;
    }
}
.it-right:before {
    content: "";
    position: absolute;
    border-bottom: 20px solid transparent;
    left: -20px;
    border-right: 20px solid #eee;
    border-top: 20px solid transparent;
    top: 45%;
}

.it-right-v2:before {
    content: "";
    position: absolute;
    border-bottom: 20px solid transparent;
    right: -20px;
    border-left: 20px solid #eee;
    border-top: 20px solid transparent;
    top: 45%;
}
.it-right h4,.it-right-v2 h4 {
   font-size: 50px;
   font-weight: bold;
   font-family: gold;
   display: flex;
   flex-direction: column;
   color: #4c4b6c;
}
@media(max-width: 1199px){
    .it-right h4,.it-right-v2 h4 {
        font-size: 45px;
    }
}
@media(max-width: 991px){
    .it-right h4,.it-right-v2 h4 {
        font-size: 30px;
    }
}

.it-right span,.it-right-v2 span {
    color: #00daff;
    font-style: italic;
    font-weight: 100;
    font-size: 40px;
}
.ct-bottom {
    margin-bottom: 2cm;
}
@media(max-width: 1199px){
    .it-right span, .it-right-v2 span {
        font-size: 30px;
    }
}
@media(max-width: 991px){
   .it-right span, .it-right-v2 span {
    font-size: 22px;
}
}
@media(max-width: 767px){
    .q1:before {
        content: '';
        height: 3cm;
        top: -4cm;
        right: -2cm;
    }
    .it-right:before,.it-right-v2:before {
        display: none;
    }
    .flex-mb {
        display: flex;
        flex-direction: column-reverse;
    }
    .ct-bottom {
        margin-bottom: 0cm;
    }
}
@media(max-width: 480px){
    .q1:before {
        content: '';
        height: 3cm;
        top: -3cm;
        right: -1cm;
    }
    .q1-v2:before {
        left: -1cm;
    }
    .title-adm {
        font-size: 30px;
    }
    .it-right, .it-right-v2 {
        text-align: center;
    }
    .ct-adm {
        padding: 0;
    }
}
@media(max-width: 375px){
    .value li a {
        width: 80px;
        height: 80px;
    }
    .bt-admin a {
        padding: 10px 15px;
        font-size: 14px;
    }
}